.content {
	margin: 0 auto;
	width: 80%;
	color: #8A909B;
	background-color: #F9FAFB;
	display: grid;
	border-radius: 5px;
	padding: 15px 25px;

}

.nav {
	font-size: 25px;
	border-bottom: 1px solid #bbbbbb;
	display: flex;
}
.nav div{
	padding: 0 1vw;
	margin-bottom: -1px;
	cursor: pointer;
}
.nav a{
	text-decoration: none;
	color: #bbbbbb;
}

.active{
	color: #1f4d64;
	border-bottom: 3px solid #1f4d64;
}


/*-----------------------------------------------*/

.flex{
	margin-top: 2vw;
	display: flex;
	justify-content: space-around;
}

.peso{
	padding: 10px 20px;
	font-size: 25px;
	color: #000;
	border: 1px solid #000;
	border-radius: 3px;
}

.status{
	padding: 10px 20px;
	font-size: 25px;
	color: #000;
	background-color: #DBDFE6;
}

.veiculo button{
	background-color: #1f4d64;
	color: #fff;
	font-size: 20px;
	padding: 7px 10px;
	border: 2px solid #27AE60;
	border-radius: 3px;
	cursor: pointer;
}

.listaveiculos{
	border: 1px solid #000;
	margin-top: 10px;
	height: 35vh;
	overflow-y: auto;
}

.veiculoitem{
	display: flex;
	justify-content: space-around;
	border-bottom:1px solid #222 ;
	color: #000;
	font-size: 20px;
}

.veiculoitem i{
	font-size: 30px;
}

.placa{
	color: #1f4d64;
	font-weight: 600;
}