.content {
	margin: 0 auto;
	width: 80%;
	color: #8A909B;
	background-color: #F9FAFB;
	display: grid;
	border-radius: 5px;
	padding: 15px 25px;

}

.nav {
	font-size: 25px;
	border-bottom: 1px solid #bbbbbb;
	display: flex;
}

.nav div {
	padding: 0 1vw;
	margin-bottom: -1px;
	cursor: pointer;
}

.nav a {
	text-decoration: none;
	color: #bbbbbb;
}

.active {
	color: #1f4d64;
	border-bottom: 3px solid #1f4d64;
}


/*-----------------------------------------------*/

.flex {
	margin-top: 2vw;
	display: flex;
	justify-content: space-around;
}

.peso {
	width: 15vw;
	text-align: center;
	font-size: 25px;
	color: #000;
	border: 1px solid #000;
	border-radius: 3px;
}

.status {
	width: 15vw;
	padding: 10px 0;
	font-size: 25px;
	text-align: center;
	color: #000;
	background-color: #DBDFE6;
}



.veiculo button {
	background-color: #1f4d64;
	color: #fff;
	font-size: 20px;
	width: 15vw;
	padding: 7px 0;
	border: 2px solid #27AE60;
	border-radius: 3px;
	cursor: pointer;
}

.listaveiculos {
	border: 1px solid #000;
	margin-top: 10px;
	height: 35vh;
	overflow-y: auto;
}

.veiculoitem {
	display: flex;
	justify-content: space-around;
	border-bottom: 1px solid #222;
	color: #000;
	font-size: 20px;
}

.veiculoitem i {
	font-size: 30px;
}

.placa {
	color: #1f4d64;
	font-weight: 600;
}

.row {
	height: 300px;
}

.encerrar {
	background-color: #bb0000;
	color: #fff;
	font-size: 13px;
	width: 15vw;
	padding: 7px 0;
	margin-top: 5%;
	border: 2px solid #ff0000;
	border-radius: 3px;
	cursor: pointer;
}

.paralisacao button {
	background-color: #bb0000;
	color: #fff;
	font-size: 13px;
	width: 15vw;
	padding: 7px 0;
	margin-top: 60%;
	border: 2px solid #ff0000;
	border-radius: 3px;
	cursor: pointer;
}

.finalizar {
	text-align: center;
	width: 15vw;
}

.detalhes {
	color: #bb0000;
}

.finalizar button {
	background-color: #26e400;
	color: #000000;
	font-size: 13px;
	padding: 7px 5px;
	margin-top: 90%;
	border: 2px solid #a8fa98;
	border-radius: 3px;
	cursor: pointer;
}


/*----------------------------modal-----------------------------------*/

.modal {
	padding: 0.7vw;
	padding-top: 0.3vw;
	overflow: hidden;
}


.title {
	font-size: 25px;
	font-weight: 600;
	color: #1f4d64;
	border-bottom: 3px solid #1f4d64;
	text-align: center;
}

.form_item {
	margin-top: 1vw;
}

.form_item div {
	font-size: 20px;
}

.modal select,
input {
	font-size: 16px;
	padding: 8px 5px;
	transition: 0.1s;
	margin-top: 3px;
	font-size: 15px;
	border-radius: 3px;
	border: 1px solid #ccc;
}

.modal select {
	width: 100%;
}

.modal input[type=datetime-local],input[type=number] {
	width: 97%;
}


.modal select:focus,
input:focus {
	border: 1px solid #8ad4ee;
	outline: 3px solid #8ad4ee80;
}

.submit {
	margin-top: 1vw;
	display: flex;
	justify-content: center;
}