.content {
	margin: 0 auto;
	width: 98%;
	color: #8A909B;
	background-color: #F9FAFB;
	display: grid;
	border-radius: 5px;
	padding: 15px 25px;

}

.nav {
	font-size: 25px;
	border-bottom: 1px solid #bbbbbb;
	display: flex;
	cursor: pointer;
}
.nav div{
	padding: 0 1vw;
	margin-bottom: -1px;
}

.active{
	color: #1f4d64;
	border-bottom: 3px solid #1f4d64;
}

.periodo {
	text-align: center;
	color: #1f4d64;
	font-size: 27px;
	font-weight: 700;
}
.submit{
	margin-top: 10px;
}

.flex{
	display: flex;
	justify-content: space-between;
}
.flex div div{
	width: 16px;
	height: 16px;
	border-radius: 50px;
	margin: auto;	
	margin-bottom:-14px ;
	background-color: #48c78e ;
	border: 2px solid #ededed ;
}

.input{
	width: 35%;
	display: flex;
	justify-content: space-between;

}
.input2{
	margin-right: 10px;
	/* direction: RTL; */
}

.barra-sty{
	background-color: #1f4d64;
	color: #1f4d64;
}


.box{
	margin-top: 10px;
	border: 1px dashed #153240a2;
}
