.flex {
	display: flex;
	justify-content: space-between;
    width: 90%;
    margin: 0 auto;
	margin-top: 3vh;
}

.button{
	font-family: 'News Cycle', sans-serif;
	font-size: 17px;
	outline: none;
	border: 2px solid #91D1BA;
	transition: 0.3s;
	padding: 0.5em 1em;
	font-size: 17px;
	font-family: 'Montserrat', sans-serif;
	border-radius: 10px;
	cursor: pointer;
}.button:hover {
	border: 3px solid #153240;
}

.busca {
	width: 20%;
	height: 25px;
	font-family: 'News Cycle', sans-serif;
	font-size: 17px;
	outline: none;
	border: 2px solid #91D1BA;
	transition: 0.3s;
	padding: 0.5em 1em;
	font-size: 17px;
	font-family: 'Montserrat', sans-serif;
	border-radius: 10px;
	
}

.busca:focus {
	border: 3px solid #153240;
}

.zeronavio {
	font-size: 25px;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	padding-top: 5vh;
}

.table{
    margin: 0 auto;
	margin-top: 5vh;
	width: 90%;
}

.sumario {
	color: #8A909B;
	background-color: #F9FAFB;
	display: grid;
	border-radius: 5px 5px 0 0;
	padding: 15px 20px;
	grid-template-columns: 4fr 3fr 1fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 1fr;
	border-bottom: 1px solid #E9EBEE;
    
}

.sumario div {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 14px;
	
}

.table_item {
	background-color: #ffffff;
	color: #2B313F;
	padding: 0 5px;
	display: grid;
	padding: 0 20px;
	grid-template-columns: 4fr 3fr 1fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 1fr;
	border-bottom: 1px solid #E9EBEE;
}

.table_item div {
	padding: 7px 0;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 16px;
	
}

.center{
	text-align: center;
}
