.form_control {
	width: 100%;
	margin-top: 2vh;
}

.form_control {
	font-size: 16px;
	height: 70px;
}

.form_control select{
	font-size: 16px;
	width: 96%;
	padding: 8px 5px;
	transition: 0.1s;
	margin-top: 3px;
	font-size: 15px;
	border-radius: 3px;
	border: 1px solid #ccc;
}

.form_control select:focus {
	border: 1px solid #8ad4ee;
	outline: 3px solid #8ad4ee80;
}