.content {
	margin: 0 auto;
	width: 98%;
	color: #8A909B;
	background-color: #F9FAFB;
	display: grid;
	border-radius: 5px;
	padding: 15px 25px;

}

.nav {
	font-size: 25px;
	border-bottom: 1px solid #bbbbbb;
	display: flex;
	cursor: pointer;
}
.nav div{
	padding: 0 1vw;
	margin-bottom: -1px;
}
.nav a{
	text-decoration: none;
	color: #bbbbbb;
}

.active{
	color: #1f4d64;
	border-bottom: 3px solid #1f4d64;
}

.SubmitButton{
	margin-top: 10px;
}


