.content {
	margin: 0 auto;
	width: 95%;
	color: #8A909B;
	background-color: #F9FAFB;
	display: grid;
	border-radius: 5px;
	padding: 15px 25px;

}

.nav {
	font-size: 25px;
	border-bottom: 1px solid #bbbbbb;
	display: flex;
}
.nav div{
	padding: 0 1vw;
	margin-bottom: -1px;
}
.nav a{
	text-decoration: none;
	color: #bbbbbb;
}

.active{
	color: #1f4d64;
	border-bottom: 3px solid #1f4d64;
}

.flex {
	display: flex;
	justify-content:space-between;
}

.form_item {
	
	width: 30%;
	margin-top: 3vh;
}

.form_item div {
	font-size: 16px;
	
}

.form_item input,select {
	width: 80%;
	padding: 10px 0;
	transition: 0.1s;
	margin-top: 3px;
	font-size: 15px;
	border-radius: 3px;
	border: 1px solid #ccc;
	
}

.form_item input:focus,select:focus {
	border: 1px solid #8ad4ee;
	outline: 4px solid #8ad4ee80;
}

.form_item button{
	background: #27AE60;
    font-size: 20px;
	color: white;
	font-family: 'Titillium Web', sans-serif;
	border: 0 none;
	border-radius: 1px;
	cursor: pointer;
	transition: 0.3s;
	padding: 7px 45px;
	margin-top: 25px;
	margin-left: 2px;
	
}.form_item button:hover{
	background: #27AE60;
	box-shadow: 
	0 0 0 3px #ffffffd8,
	 0 0 0 4px #27AE60;
}
