.content {
	margin: 0 auto;
	width: 98%;
	color: #8A909B;
	background-color: #F9FAFB;
	display: grid;
	border-radius: 5px;
	padding: 15px 25px;

}

.nav {
	font-size: 25px;
	border-bottom: 1px solid #bbbbbb;
	display: flex;
}
.nav div{
	padding: 0 1vw;
	margin-bottom: -1px;
	cursor: pointer;
}
.nav a{
	text-decoration: none;
	color: #bbbbbb;
}

.active{
	color: #1f4d64;
	border-bottom: 3px solid #1f4d64;
}


/*-----------------------------------------------*/


.table {
	margin-top: 1vh;
}

.sumario {
	color: #8A909B;
	background-color: #F9FAFB;
	display: flex;
	justify-content: space-around;
	border-radius: 5px 5px 0 0;
	padding: 10px 0 ;
	border-bottom: 1px solid #E9EBEE;
	justify-items: center;
}

.sumario div {
	font-family: "Titillium Web", sans-serif;
	font-size: 18px;
	cursor: default;
	width: 30%;
	text-align: center;
}

.table_item {	
	background-color: #ffffff;
	color: #2B313F;
	display: flex;
	justify-content: space-around;
	justify-items: center;
	border-bottom: 1px solid #E9EBEE;	
	cursor: pointer;
}

.table_item:hover{
	background-color: #cef1ff;
	
}

.table_item div {
	padding: 7px 0;
	width: 30%;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 16px;
	padding-bottom: 5px;
}

.button_atraca{
	background-color: #153240;
	border-style: none;
	outline: none;
	border-radius: 80px;
	padding: 2px 13px;
	cursor: pointer;
	color: #fff;
	font-size: 16px;
	word-spacing: 5px;
	font-family: "Titillium Web", sans-serif;
	border: 1px solid #36b8e700;
	margin-right: 100px;
}


.button_atraca:hover {
	border: 1px solid #36b8e7;
	outline: 3px solid #8ad4ee80;
}
