.aguardando {
    width: 330px;
    padding: 1% 2%;
    margin: 0 auto;
    /* From https://css.glass */
    background: #6c6c6c21;
    border-radius: 16px;
    box-shadow: 0 4px 30px #0000000c;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}

.titulo {
    text-align: center;
    font-size: 25px;
    margin-bottom: 15px;
    border-bottom: 3px solid #00076d;
}

.item {
    width: 300px;
    display: grid;
    font-size: 19px;
    padding-left: 15px;
    grid-template-columns: 1.3fr 0.3fr;
    margin-top: 1px;
}

.item span {
    text-align: end;
    margin-right: 4%;
}

.item div {
    font-size: 21px;
    font-weight: 600;
    color: #00076d;
}



.sumario {
    background-color: #cac6c6;

    margin: 0 auto;
    margin-top: 3vw;
    color: #000000;
    border-radius: 10px 10px 0 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 0.5fr 1fr 0.5fr 0.5fr 1fr 1fr;
}

.sumario div {
    text-align: center;
    border-right: 3px solid #ffffff;
}

.last {
    text-align: center;
}